extends ../layout

block content
  .container
    .pb-2.mt-2.mb-4.border-bottom
        h3 Create A Contact
    form(id='contact-form', method='POST')
        - const {_id, userId,firstName, lastName, dob, gender, directManager, middleName} = contact
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='firstName') First Name
          .col-md-7
            input.form-control(value = firstName , name='firstName', id='firstName', placeholder='First Name', autofocus, autocomplete='firstName',maxlength ='10' , required)
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='Last Name') Last Name
          .col-md-7
            input.form-control(value = lastName, name='lastName', id='lastName', placeholder='Last Name', autocomplete='new-lastName',maxlength ='10' , required)
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='middleName') Middle Name
          .col-md-7
            input.form-control(value = middleName, name='middleName', id='middleName', placeholder='Middle Name',maxlength ='10')
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='middleName') Gender
          .col-md-7
                .form-check.form-check-inline
                    input#inlineRadio1.form-check-input(type='radio', name='gender', value='true')
                    label.form-check-label(for='Male') Male
                .form-check.form-check-inline
                    input#inlineRadio2.form-check-input(type='radio', name='gender', value='false')
                    label.form-check-label(for='Female') Female
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='directManager') Direct Manager
          .col-md-7
            select.form-control(id= "selectManager", name = "directManager")
              each contact in allContact
                option(value = contact._id) #{contact.firstName} #{contact.lastName}
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='dob') DOB
          .col-md-7
            input.form-control(type = "date", name='dob', id='dob', placeholder='Day Of Birth', required)
        .form-group.row
          label.col-md-3.col-form-label.font-weight-bold.text-right(for='middleName') Start Date
          .col-md-7
            input.form-control(type = "date", name='startDate', id='startDate', placeholder='Start Date', required)  
 
        .form-group.offset-sm-3.col-md-7.pl-2
        button.btn.btn-success(type='submit', id ="btnCreateContact")
            i.fas.fa-user-plus.fa-sm
            | Create
